#!/usr/bin/env xdg-open
[Desktop Entry]
Name=SERVER
X-GNOME-FullName=FreeRDP
Comment=Connect to remote desktops
Exec=/usr/bin/xfreerdp /u: /v:192.168.100.20 /sec:rdp /cert-ignore /multimon:force /sound /microphone /drive:/media/* +clipboard +auto-reconnect +compression /compression-level:2
Icon=vinagre
Terminal=false
Type=Application
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Actions=Profile;Tray;
